<component name="ArtifactManager">
  <artifact type="war" name="SpringMvcMybatis:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMvcMybatis.war">
      <element id="artifact" artifact-name="SpringMvcMybatis:war exploded" />
    </root>
  </artifact>
</component>